<div class="ui two column grid">
      <div class="column">
        <div class="ui piled blue segment">
          <h2 class="ui header">
            <i class="icon inverted circular blue comment"></i> Comments
          </h2>
          <div class="ui comments">
            <div class="comment">
              <a class="avatar">
                <img src="/images/avatar.jpg">
              </a>
              <div class="content">
                <a class="author">Dog Doggington</a>
                <div class="metadata">
                  <span class="date">2 days ago</span>
                </div>
                <div class="text">
                  I think this is a great idea and i am voting on it
                </div>
                <div class="actions">
                  <a class="reply">Reply</a>
                  <a class="delete">Delete</a>
                </div>
              </div>
            </div>
            <div class="comment">
              <a class="avatar">
                <img src="/images/avatar2.jpg">
              </a>
              <div class="content">
                <a class="author">Pawfin Dog</a>
                <div class="metadata">
                  <span class="date">2 days ago</span>
                </div>
                <div class="text">
                  I think this is a great idea and i am voting on it
                </div>
                <div class="actions">
                  <a class="reply">Reply</a>
                  <a class="delete">Delete</a>
                </div>
              </div>
            </div>
            <div class="comment">
              <a class="avatar">
                <img src="/images/avatar.jpg">
              </a>
              <div class="content">
                <a class="author">Dog Doggington</a>
                <div class="metadata">
                  <span class="date">2 days ago</span>
                </div>
                <div class="text">
                  I think this is a great idea and i am voting on it
                </div>
                <div class="actions">
                  <a class="reply">Reply</a>
                  <a class="delete">Delete</a>
                </div>
              </div>
            </div>
            <form class="ui reply form">
              <div class="field">
                <textarea></textarea>
              </div>
              <div class="ui fluid blue labeled submit icon button">
                <i class="icon edit"></i> Add Reply
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>