<div class="icon example">
	<div class="ui eight column grid">
		<div class="column">
			<i onclick="window.location = '<%= user_omniauth_authorize_path(:facebook) %>'" class="facebook sign icon"></i>
		</div>
		<div class="column">
			<i onclick="window.location = '<%= user_omniauth_authorize_path(:google_oauth2) %>'" class="google plus sign icon"></i>
		</div>
		<div class="column">
			<i onclick="window.location = '<%= user_omniauth_authorize_path(:linkedin) %>'" class="linkedin sign icon"></i>
		</div>
	</div>
	<p>
		You may alternatively sign in with one of your social network accounts
	</p>
</div>
