<div class="sticky-wrapper stuck" style="height: 132px;">
  <div class="peek">
    <div class="ui vertical pointing secondary menu">
      <a class="item active">Profile</a>
      <a class="item">Recent Activity</a>
    </div>
  </div>
</div>
