<div class="masthead segment">
  <h1 class="ui header">How it works?</h1>

  <ul class="bxslider">
  </ul>
</div>

<div class="stripe">
  <div class="ui page grid">
    <div class="ui column">
      <h2 class="ui header">
        <div class="content">
          <!-- place here map -->
        </div>
      </h2>
    </div>
  </div>
</div>

