<div class="masthead segment">
  <h1 class="ui header">How it works?</h1>

  <ul class="bxslider">
  </ul>
</div>

<div class="stripe">
  <div class="ui page grid">
    <div class="ui column">
      <h2 class="ui header">
        <i class="circular emphasized code icon"></i>
        <div class="content">
          Lose the Hieroglyphics
          <div class="sub header">Semantic is structured around natural language conventions to make development more intuitive.
          </div>
        </div>
      </h2>
    </div>
  </div>
</div>

