<div class="masthead segment">
  <div class="column">
    <div class="introduction">
      <h1 class="ui header">Nothing to say for now</h1>
    </div>
    <div class="inverted advertisement">
      <div id="carbonads-container"><div class="carbonad"><div id="azcarbon"><span class="carbonad-image"><a href="http://engine.carbonads.com/r?e=eyJhdiI6MzI1NzgsImF0IjoxLCJjbSI6NDU4MzQsImNoIjoxMjA0LCJjciI6MTM5NDgzLCJkaSI6IjU0NGI3Yzc1NTFmNzRhNmZhNmEzYzE2YzkzM2QwM2NjIiwiZG0iOjEsImZjIjoxOTExNjIsImZsIjo5MjAyMywibnciOjM5LCJydiI6My41LCJwciI6Nywic3QiOjUxNjE5LCJ6biI6MCwidXIiOiJodHRwczovL3d3dy5lbmNvZGluZy5jb20vc2lnbnVwLz91dG1fc291cmNlPUJ1eVNlbGxBZHNOZXR3b3JrJnV0bV9tZWRpdW09QmFubmVyMTUweDEwMCZ1dG1fY29udGVudD1Gb3JtYXRzJnV0bV9jYW1wYWlnbj1CdXlTZWxsQWRzR2VuZXJhbCJ9&amp;s=HKLfgajyrWpbDUMrHZCtNq6SP3w" title="Encoding.com" target="_blank"><img class="carbonad-image carbonad-img" src="http://static.carbonads.com/Advertisers/cceaa3fd67854feb80cd5985dca5cbd8.jpg" title="Encoding.com" alt="Encoding.com" border="0" height="90" width="120"></a></span><span class="carbonad-text"><a href="">Fastest Service.</a> All Formats Supported. Free Developer API Key. Guaranteed SLA.</span><span class="carbonad-tag">ads via <a href="http://carbonads.com">Carbon</a></span><img height="0px" width="0px" border="0" src="http://engine.carbonads.com/i.gif?e=eyJhdiI6MzI1NzgsImF0IjoxLCJjbSI6NDU4MzQsImNoIjoxMjA0LCJjciI6MTM5NDgzLCJkaSI6IjU0NGI3Yzc1NTFmNzRhNmZhNmEzYzE2YzkzM2QwM2NjIiwiZG0iOjEsImZjIjoxOTExNjIsImZsIjo5MjAyMywibnciOjM5LCJydiI6My41LCJwciI6Nywic3QiOjUxNjE5LCJ6biI6MH0&amp;s=Nc0EWoL6ixHY445UO-qd3E-T7oA"></div><script type="text/javascript">var z = document.createElement("script"); z.type = "text/javascript"; z.async = true; z.src = "http://engine.carbonads.com/z/51619/azcarbon_2_1_0_VERTDARK"; var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(z, s);</script></div></div>
    </div>
  </div>
</div>

<div class="stripe">
  <div class="ui page grid">
    <div class="ui column">
      <h2 class="ui header">
        <i class="circular emphasized code icon"></i>
        <div class="content">
          Lose the Hieroglyphics
          <div class="sub header">Semantic is structured around natural language conventions to make development more intuitive.
          </div>
        </div>
      </h2>
    </div>
  </div>
</div>

