<div class='main container'>
  <h1 class="ui">Our Forrest Team</h1>

  <div class="ui four column grid medium images">
    <div class="column">
      <img class="circular ui image" src="/images/Dmitri.jpg">
    </div>
    <div class="column">
      <img class="circular ui image" src="/images/Alex.jpg">
    </div>
    <div class="column">
      <img class="circular ui image" src="/images/Artem.jpg">
    </div>
    <div class="column">
      <img class="circular ui image" src="/images/Zakhar.jpg">
    </div>
  </div>

</div>

