<div class='main container'>
  <h1 class="ui">Our Forest Team</h1>

  <div class="ui four column grid medium images">
    <div class="column">
      <img class="circular ui image" src="/images/Dmitri.jpg">
      <center>
        <h5>
          <a class="popup icon github item" title="View profile on Github" href="https://github.com/Dmitrovsky">
            <i class="icon github"></i>
          </a>Dmitri Volk
        </h5>
      </center>
    </div>

    <div class="column">
      <img class="circular ui image" src="/images/Alex.jpg">
      <center>
        <h5>
          <a class="popup icon github item" title="View profile on Github" href="https://github.com/oivoodoo">
            <i class="icon github"></i>
          </a>Alexander Korsak
        </h5>
      </center>
    </div>

    <div class="column">
      <img class="circular ui image" src="/images/Artem.jpg">
      <center>
        <h5>
          <a class="popup icon github item" title="View profile on Github" href="https://github.com/pipiy">
            <i class="icon github"></i>
          </a>Artsiom Slabodnik
        </h5>
      </center>
    </div>

    <div class="column">
      <img class="circular ui image" src="/images/Zakhar.jpg">
      <center>
        <h5>
          <a class="popup icon github item" title="View profile on Github" href="https://github.com/zakhar-slabodnik">
            <i class="icon github"></i>
          </a>Zakhar Slabodnik
        </h5>
      </center>
    </div>
  </div>

</div>

