<div class='main container'>
  <h1 class="ui">Our Forrest Team</h1>

  <div class="ui four column grid medium images">
    <div class="column">
      <img class="circular ui image" src="/images/Dmitri.jpg">
      <h4 style="margin-left: 65px">
        <a class="popup icon github item" title="View profile on Github" href="https://github.com/Dmitrovsky">
          <i class="icon github"></i>
        </a>Dmitri Volk
      </h4>
    </div>

    <div class="column">
      <img class="circular ui image" src="/images/Alex.jpg">
      <h4 style="margin-left: 65px">
        <a class="popup icon github item" title="View profile on Github" href="https://github.com/oivoodoo">
          <i class="icon github"></i>
        </a>Alexander Korsak
      </h4>
    </div>

    <div class="column">
      <img class="circular ui image" src="/images/Artem.jpg">
      <h4 style="margin-left: 60px">
        <a class="popup icon github item" title="View profile on Github" href="https://github.com/pipiy">
          <i class="icon github"></i>
        </a>Artsiom Slabodnik
      </h4>
      
    </div>
    <div class="column">
      <img class="circular ui image" src="/images/Zakhar.jpg">
      <h4 style="margin-left: 60px">
        <a class="popup icon github item" title="View profile on Github" href="https://github.com/zakhar-slabodnik">
          <i class="icon github"></i>
        </a>Zakhar Slabodnik
      </h4>
    </div>
  </div>

</div>

