<div class='main container'>
  <h1 class="ui">Our Forrest Team</h1>

  <div class="ui four column grid medium images">
    <div class="column">
      <img class="circular ui image" src="/images/Dmitri.jpg">
      <h4 style="margin-left: 100px">Dmitri Volk</h4>
    </div>
    <div class="column">
      <img class="circular ui image" src="/images/Alex.jpg">
      <h4 style="margin-left: 65px">Alexander Korsak</h4>
    </div>
    <div class="column">
      <img class="circular ui image" src="/images/Artem.jpg">
      <h4 style="margin-left: 60px">Artsiom Slabodnik</h4>
    </div>
    <div class="column">
      <img class="circular ui image" src="/images/Zakhar.jpg">
      <h4 style="margin-left: 65px">Zakhar Slabodnik</h4>
    </div>
  </div>

</div>

