<div class="left menu">
  <div class="green item active">
    <a><i class="home icon"></i> Home</a>
  </div>
  <div class="green item">
    <a><i class="home icon"></i> Projects</a>
  </div>
  <div class="red item">
    <a><i class="home icon"></i> Events</a>
  </div>
</div>

