<div class="ui menu">
  <a class="green item active">
    <i class="home icon"></i> Green
  </a>
  <a class="red item">
    <i class="mail icon"></i> Red
  </a>
  <a class="blue item">
    <i class="user icon"></i> Blue
  </a>
  <a class="orange item">
    <i class="home icon"></i> Orange
  </a>
  <a class="purple item">
    <i class="mail icon"></i> Purple
  </a>
  <a class="teal item">
    <i class="user icon"></i> Teal
  </a>
</div>
